.flex {
  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  @extend .flex--between;
  padding: 20px 15px;
  &__item {
    color: grey;
    font-size: 25px;
    &--active {
      color: white;
    }
  }
}