.flex {
  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  @extend .flex--between;
  padding: 20px 15px;
  &__item {
    color: grey;
    font-size: 25px;
    &--active {
      color: white;
    }
  }
}

.chart {
  &__wrap {
    text-align: center;
    margin: 40px 0;
  }
}

.price {
  &__main {
    position: relative;
    font-weight: bold;
    display: inline-block;
  }
  &__secondary {
    position: absolute;
    top: -0.1em;
    right: -1em;
    font-size: 0.5em;
  }
}
