$main-dark: #161823;
$secondary-dark: #0e0f1a;
$pink: #ff2366;
$purple: #fd51d9;
$blue: #0b78e3;

$red: #fd3f2f;
$yellow: #face15;

$violet: #8d4de8;
$dark-violet: #6956ec;
$greenish: #56b2ba;

$reddish-gradient: linear-gradient(90deg, $red, $yellow);
$pink-gradient: linear-gradient(90deg, $violet, $pink);
$blue-gradient: linear-gradient(90deg, $dark-violet, $greenish);

